---
http_interactions:
- request:
    method: get
    uri: https://api.v1.test.com/internal/v1/evaluation?request_id=8ffdefbdec956b595d257f0aaeefd623
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"analysis_id": "8ffdefbdec956b595d257f0aaeefd623", "informalStyle":
        {"disaggregated": {"secondPerson": {"title": {"absolute": 0, "local": 0, "global":
        null}, "content": {"absolute": 0, "local": 0, "global": null}}, "personalStyle":
        {"title": {"absolute": 0, "local": 0.0, "global": null}, "content": {"absolute":
        0, "local": 0.0, "global": null}}, "intensifiers": {"title": {"absolute":
        0, "local": 0, "global": null}, "content": {"absolute": 0, "local": 0, "global":
        null}}, "shortenedForms": {"title": {"absolute": 0, "local": 0.0, "global":
        null}, "content": {"absolute": 0, "local": 0.0, "global": null}}, "modals":
        {"title": {"absolute": 0, "local": 0, "global": null}, "content": {"absolute":
        0, "local": 0, "global": null}}, "interrogatives": {"title": {"absolute":
        0, "local": 0.0, "global": null}, "content": {"absolute": 0, "local": 0.0,
        "global": null}}, "uppercaseWords": {"title": {"absolute": 0, "local": 0,
        "global": null}, "content": {"absolute": 0, "local": 0.0, "global": null}},
        "repeatedLetters": {"title": {"absolute": 0, "local": 0.0, "global": null},
        "content": {"absolute": 0, "local": 0.0, "global": null}}, "aggressivePunctuation":
        {"title": {"absolute": 0, "local": 0, "global": null}, "content": {"absolute":
        0, "local": 0, "global": null}}, "uncommonPunctuation": {"title": {"absolute":
        0, "local": 0, "global": null}, "content": {"absolute": 0, "local": 0, "global":
        null}}, "emoji": {"title": {"absolute": 0, "local": 0.0, "global": null},
        "content": {"absolute": 0, "local": 0.0, "global": null}}}, "overallScore":
        {"title": 0.0, "content": 0.0}}, "readability": {"disaggregated": {"fleshReadingEase":
        {"title": {"absolute": 121.22, "local": 0, "global": null}, "content": {"absolute":
        9.21, "local": 0.8465, "global": null}}}, "overallScore": {"title": 0.0, "content":
        0.8465}}, "clickBait": {"disaggregated": {"misleadingHeadline": {"title":
        {"absolute": 0.38005774017150223, "local": 0.6199422598284978, "global": null},
        "content": {"absolute": 0.38005774017150223, "local": 0.6199422598284978,
        "global": null}}}, "overallScore": {"title": 0.6199422598284978, "content":
        0.6199422598284978}}, "affectiveStyle": {"disaggregated": {"joy": {"title":
        {"absolute": 0, "local": 0.0, "global": null}, "content": {"absolute": 0,
        "local": 0.0, "global": null}}, "sadness": {"title": {"absolute": 0, "local":
        0.0, "global": null}, "content": {"absolute": 0, "local": 0.0, "global": null}},
        "fear": {"title": {"absolute": 0, "local": 0.0, "global": null}, "content":
        {"absolute": 0, "local": 0.0, "global": null}}, "anger": {"title": {"absolute":
        0, "local": 0.0, "global": null}, "content": {"absolute": 0, "local": 0.0,
        "global": null}}, "positiveSentiment": {"title": {"absolute": 0, "local":
        0.0, "global": null}, "content": {"absolute": 0, "local": 0.0, "global": null}},
        "negativeSentiment": {"title": {"absolute": 0, "local": 0.0, "global": null},
        "content": {"absolute": 0, "local": 0.0, "global": null}}}, "overallScore":
        {"title": 0.0, "content": 0.0}}, "dangerousStyle": {"disaggregated": {"irony":
        {"title": {"absolute": 1, "local": 0.648, "global": null}, "content": {"absolute":
        0, "local": 0.062, "global": null}}, "flame": {"title": {"absolute": 0, "local":
        0.001, "global": null}, "content": {"absolute": 0, "local": 0.0, "global":
        null}}, "stereotype": {"title": {"absolute": 0, "local": 0.194, "global":
        null}, "content": {"absolute": 0, "local": 0.099, "global": null}}}, "overallScore":
        {"title": 0.28099999999999997, "content": 0.05366666666666667}}, "untrustability":
        {"disaggregated": {"labelPropagation": {"values": {"absolute": 0.292, "local":
        0.292, "global": null}}}, "overallScore": 0.292}}'
  recorded_at: Tue, 11 Jun 2024 12:18:07 GMT
recorded_with: VCR 6.2.0
