---
http_interactions:
- request:
    method: get
    uri: https://api.v1.test.com/internal/v1/explanations?analysis_id=8ffdefbdec956b595d257f0aaeefd623&explanation_type=explanationAffective
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"positive":{"token":"","probability":0.0},"negative":{"token":"Google","probability":0.0},"sadness":{"token":"","probability":0.0},"fear":{"token":"Google","probability":0.017},"joy":{"token":"Google","probability":0.001},"anger":{"token":"","probability":0.0}}'
  recorded_at: Wed, 05 Jun 2024 15:20:40 GMT
recorded_with: VCR 6.2.0
