---
http_interactions:
- request:
    method: post
    uri: https://api.v1.test.com/internal/v1/scrape?inputUrl=https://www.google.com&language=en&maxChars=1000&maxRetries=3&retry=true&timeout=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"the request was successful","result":{"request_id":"8ffdefbdec956b595d257f0aaeefd623"}}'
  recorded_at: Wed, 05 Jun 2024 15:20:39 GMT
recorded_with: VCR 6.2.0
